*{
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
}
.box1 {
    /* display: flex; */
    justify-content: flex-end;
    text-align: end;

}
.box1 a {
    text-decoration: none;
    color: darkslategrey;
    font-family: 'Kanit', sans-serif;
    padding-right: 20px;
}
.box2 {
    position: relative;
    font-family: 'Kanit', sans-serif;
    margin-top: 20px;
    /* left: 40%; */
    margin-left: 40%;
}
.box2 p {
    width: 500px;
}
.box2 img {
    position: absolute;
    width: 200px;
    margin-left: 500px;
}